Source: mod-image-resize
Section: web
Priority: optional
Maintainer: Pierre POMES <pierre.pomes@gmail.com>
Build-Depends: debhelper-compat (= 13),
               apache2-dev,
               build-essential,
               cmake,
               git,
               nasm,
               pkg-config,
               libpng-dev,
               libimagequant-dev,
               pngquant,
               libarchive-dev,
               libglib2.0-dev,
               libexpat-dev,
               libfftw3-dev,
               libexif-dev,
               libtiff-dev,
               libwebp-dev,
               libgsf-1-dev,
               liblcms2-dev,
               libpango1.0-dev,
               librsvg2-dev,
               meson,
               ninja-build,
               patchelf
Standards-Version: 4.5.1
Homepage: https://github.com/ppomes/mod_image_resize
Vcs-Browser: https://github.com/ppomes/mod_image_resize
Vcs-Git: https://github.com/ppomes/mod_image_resize.git

Package: mod-image-resize
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         apache2,
         libpng16-16,
         libimagequant0,
         libglib2.0-0,
         libexpat1,
         libexif12,
         libtiff6,
         libwebp7,
         libgsf-1-114,
         liblcms2-2,
         libpango-1.0-0,
         libpangocairo-1.0-0,
         librsvg2-2
Description: Module Apache for resizing images on the fly
 mod_image_resize is an Apache module that allows you to
 redimensionner, recadrer et traiter des images à la volée.
 Use libvips for fast and effective processing of images
 et MozJPEG for high-quality JPEG compression.
